@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

:root {
    --primary-color: #E50914;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

body {
    color:#fff;
    background-color: #000;
}

header {
    box-sizing: border-box;
}

.showcase {
    background: url("/img/background.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    border-bottom: #222 solid 8px;
    /* box-shadow: inset 120px 120px 100px 100px rgb(0, 0, 0, 0.7), inset -120px -120px 100px 100px rgb(0, 0, 0, 0.5); */
    box-shadow: inset 170px 130px 100px 180px rgb(0, 0, 0, 0.5), inset -170px -130px 100px 180px rgb(0, 0, 0, 0.5);
    /* box-shadow: inset -100px -100px 100px rgb(0, 0, 0, 0.8);  */
}

.showcase-top .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    align-items: start;
    justify-content: center;
    margin: 0 0;
}

.showcase-top .container img{
    padding: 2rem 3rem;
    width: 10rem;
    height: 2.8rem;
    transform: translate(0,0);
}

.showcase-top .container .dropdown {
    margin: 2rem;
    margin-left: auto;
    padding: 0.5rem 0.5rem;
    font: #fff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: rgb(34, 34, 34, 0.9);
    color: #fff;
    border-radius: 1px;
    border: 1px #aaa solid;
    width: 5rem;
    appearance: none;
}

i {
    position: absolute;
    left: 5.2px;
    top: 17.5px;
}

.showcase-top select.lang {
    background-color: transparent;
    border: none;
    color: inherit;
    appearance: none;
    width: 80%;
    /* width: 80px; */
    height: 20px;
    position: relative;
    margin-left: 16px;
    z-index: 2;
    text-align: left;
    float:initial;
}

.showcase-top select.lang option {
    background-color: rgb(34, 34, 34, 0.9);
}

.showcase-top .dropdown > img {
    width: 1.5rem;
    height: 1.8rem;
    position: absolute;
    bottom: -1.9rem;
    left: 1.2rem;
}

.showcase-top button {
    /* border-radius: 2px; */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 2rem;
    margin-right: 3rem;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
}

.showcase-content {
    padding: 9.5% 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.showcase-content h1 {
    font-size: 4.5rem;
    margin: 1rem 16rem;
    font-weight: 600;
    letter-spacing: 1.9;
}

.showcase-content h2 {
    font-weight: 100;
    font-size:x-large;
    margin: 1rem auto;
}

.showcase-content p {
    font-weight: 500;
    font-size: 1.3rem;
    margin: 2rem auto;
}

.showcase-content .email-form {
    display: flex;
    /* justify-content: center; */
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 2rem 15rem auto auto;
    /* margin-right: 10rem; */
}

.showcase-content .email-form input{
    padding: 1.6rem;
    position: relative;
    width: 38rem;
    height: 5rem;
}

.showcase-content .email-form button {
    color: #fff;
    background-color: var(--primary-color);
    padding: 1.3rem 3rem;
    border: none;
    font-weight: 500;
    font-size: 1.8rem;
    position: absolute;
    height: 5rem;
    line-height: 1;
    vertical-align: middle;
    text-align:justify;

}

.email-form button > i {
    margin: 1.9rem;
    padding: auto;
    position: absolute;
    margin: 0.6rem 12.2rem;
    top: 1.1rem;
    -webkit-text-stroke: 0.1px white;
}

/* Tabs */

.tab-1 {
    border-top:#aaa;
}

.tab-1-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.tab-1-content .video-container {
    padding: 10%;
}

.tab-1-content img {
    padding: 2rem;
}

/* Buttons */
.btn-sm {
    background-color: #E50914;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

h1 {
    font-size: 3.7rem;
}

/* Media Queries */
@media only screen and (min-width: 600px) and (max-width: 900px) {
   
    body {
        
    }

    .showcase-top .container {
        padding-top: 3%;
    }

    .showcase-top .container img {
        max-width: 20%;
        max-height: 2rem;
    }

    .showcase-content {
        margin-top: 2rem;
        font-size: x-small;
        padding: auto 50%;
    }

    .showcase-content h1 {
        font-size: 3rem;
        margin: 0;
        padding: auto 50%;
    }

    .showcase-content p {
        margin: 0;
    }

    .email-form {
        /* display: block; */
    }

    .email-form input {
        display: block;
        max-width: 30rem;
        max-height: 1rem;
        margin-bottom: 1rem;
        left: 20%;
        justify-content: center;
    }

    .email-form button {
        font-size: 1rem !important;    
        max-width: 50rem;
        max-height: 1rem;
        display: flex;
        /* margin: auto 0; */
        align-items: center;
        /* justify-content: center; */
        /* max-width: 9rem; */
        margin-left: 75%;

    }

    .email-form button > i {
        /* margin-left: 10rem; */
        position: absolute;
        max-width: 1rem;
    }
}