@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

:root {
    --primary-color: #E50914;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

body {
    color:#fff;
    background-color: #000;
}

header {
    box-sizing: border-box;
}

.showcase {
    background: url("/img/background.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    border-bottom: #222 solid 8px;
    box-shadow: inset 120px 120px 100px 100px rgba(0, 0, 0, 0.7), inset -120px -120px 100px 100px rgba(0, 0, 0, 0.5);
}

.showcase-top .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    align-items: start;
    justify-content: center;
    margin: 0 0;
}

.showcase-top .container img{
    padding: 2rem 3rem;
    width: 10rem;
    height: 2.8rem;
    transform: translate(0,0);
}

.showcase-top .container .dropdown {
    margin: 2rem;
    margin-left: auto;
    padding: 0.5rem 0.5rem;
    font: #fff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: rgb(34, 34, 34, 0.9);
    color: #fff;
    border-radius: 1px;
    border: 1px #aaa solid;
    width: 6.4rem;
    appearance: none;
}

.showcase-top select.lang {
    background-color: transparent;
    border: none;
    color: inherit;
    appearance: none;
}

.showcase-top .dropdown > img {
    width: 1.5rem;
    height: 1.8rem;
    position: absolute;
    bottom: -2rem;
    left: 2rem
}

.showcase-top .container .lang::before {
    content: "";
    position: absolute;
    background-image: url("../img/lang-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    /* Unable to add the language icon */
}

.showcase-top .lang::after {
    content: "";
    position: absolute;
    /* This code: */
    /* background-image: url("/img/drop-down.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right; */
    /* is working in the ".showcase-top .lang" class seperately but not in this pesudo-class */
}

i {
    font-weight: 900;
    content: "\f0ac";
}

.showcase-top a {
    /* border-radius: 2px; */
    text-decoration: none;
    /* padding: 0.5rem 1.3em; */
    position: relative;
    /* width: 12.4rem; */
    /* right: 10%; */
    /* order: 2; */
    /* flex-shrink: 0; */
    margin-top: 2rem;
    margin-right: 3rem;
}

.showcase-content {
    padding: 7% 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.showcase-content h1 {
    font-size: 3.7rem;
}

/* Tabs */

.tab-1 {
    border-top:#aaa;
}

.tab-1-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

.tab-1-content .container {
    justify-content: center;
    align-items: center;
    padding: 25% 25%;
}

/* Buttons */
.btn-sm {
    background-color: #E50914;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

h1 {
    font-size: 3.7rem;
}

h2 {
    
}

.text-md {
    
}


/* Unable to add the icon 
<i class="fas fa-globe"></i> */