:root {
    --primary-color: #E50914;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

body {
    color:#fff;
}

header {
    box-sizing: border-box;
}

.showcase {
    background: url("/img/background.jpg") no-repeat;
    height: 100vh;
}

.showcase-top .container select,a {
    display: flex;
    position: relative;    
}

.showcase-top img{
    padding: 2rem;
    width: 9.7rem;
    height: 2.9rem;
    transform: translate(0,0);
}

.showcase-top .lang {
    padding: 0.5rem 1.8em;
    font: #fff;
}

.showcase-top .lang::after {
    padding: 0.5rem 1.8em;
    font: #fff;
}

.showcase-top a {
    /* border-radius: 2px; */
    text-decoration: none;
    padding: 0.8rem 2rem;
}

.showcase-content {
    padding: 9.5rem 30rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.showcase-content h1 {
    font-size: 3.7rem;
}

/* Buttons */
.btn-sm {
    background-color: #E50914;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}


/* Unable to add the icon 
<i class="fas fa-globe"></i> */